* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body {
  background: white;
  margin: 0;
  padding: 0;
}

/* Header layout */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

#emptyMsg {
  display: none;
  text-align: center;
  color: #6c757d;
  margin-top: 20px;
}

/* Auth buttons container */
.auth-buttons {
  display: flex;
  gap: 10px;
}

/* Buttons styling */
.btn-primary {
  padding: 6px 14px;
  background-color: #0d6efd;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0b5ed7;
}

.btn-outline {
  padding: 6px 14px;
  background-color: transparent;
  color: #0d6efd;
  border: 1px solid #0d6efd;
  border-radius: 4px;
  cursor: pointer;
}

.btn-outline:hover {
  background-color: #0d6efd;
  color: white;
}
.button-outline{
   padding: 6px 14px;
  background-color: rgb(62, 171, 62);
  color: white;
  border: 1px solid rgb(62, 171, 62);
  border-radius: 4px;
  cursor: pointer;
}
.button-primary{
    padding: 6px 14px;
  background-color: #e82247;
  color: white;
  border: 1px solid #e82247;
  border-radius: 4px;
  cursor: pointer;
}
.container {
  width: 60%;
  margin: 30px auto;
}

h2, h3 {
  margin-bottom: 15px;
}

.input-fields {
  margin-top: -30px;
  background: #fff;
  padding: 20px;
  border-radius: 6px;
  margin-bottom: 30px;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  height: 100px;
  resize: none;
}

.btn {
  margin-top: 15px;
  padding: 8px 16px;
  background: #0d6efd;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background: #0b5ed7;
}

.notes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  gap: 20px;
}

.card {
  background: #fff;
  padding: 15px;
  border-radius: 6px;
  border: 1px solid #ddd;
}
.card p {
  font-size: 14px;
  margin: 10px 0;

  /* Fix text overflow */
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}


.card h4 {
  margin: 0;
}

.subtitle {
  color: #6c757d;
  font-size: 14px;
}

.card p {
  font-size: 14px;
  margin: 10px 0;
}

.links a {
  margin-right: 10px;
  font-size: 14px;
  color: red;
  text-decoration: none;
}


/*------ Delete Confirmation Popup -------*/

.delete-modal-content {
  background: #fff;
  width: 300px;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.delete-modal-content h3 {
  margin-bottom: 10px;
}

.delete-modal-content p {
  font-size: 14px;
  color: #555;
}

.delete-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}
.button-primary, .button-primary:hover{
    background-color: red;
    color: white;
}
.button-outline:hover{
    background-color: rgb(75, 164, 75);
    color: white;
}
/* ------- Responsive ----------*/
@media (max-width:750px) {
  .container {
    width: 78%;
    margin: 10px auto;
  }
}

@media (max-width:350px) {
  .container {
    width: 90%;
    margin: 10px auto;
  }
  .btn-primary, .btn-outline {
    padding: 6px 9px;
  }
  .auth-buttons {
    gap: 5px;
  }
}

/*----------Modal CSS (Added)-------- */

.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  width: 400px;
  padding: 25px;
  border-radius: 8px;
  position: relative;
}

.close {
  position: absolute;
  top: 12px;
  right: 15px;
  font-size: 22px;
  cursor: pointer;
}

.full-btn {
  width: 100%;
  margin-top: 15px;
}

.login-text {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.login-text a {
  color: #0d6efd;
  text-decoration: none;
}
/* -------Toast Notifications------- */
.toast {
  position: fixed;
  top: 70px;
  right: 30px;
  min-width: 250px;
  padding: 12px 18px;
  border-radius: 6px;
  font-size: 14px;
  color: #fff;
  display: none;
  z-index: 2000;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.toast.success {
  background-color: #16a34a; /* green */
}

.toast.error {
  background-color: #dc2626; /* red */
}





/* --------Responsive--------- */
@media (max-width:750px) {
  .container {
    width: 78%;
    margin: 10px auto;
  }
  .modal-content {
  width: 350px;
}
}

@media (max-width:350px) {
  .container {
    width: 90%;
    margin: 10px auto;
  }
  .btn-primary, .btn-outline {
    padding: 6px 9px;
  }
  .auth-buttons {
    gap: 5px;
  }
  .modal-content {
  width: 280px;
}
}